data
jupyter/data
jupyter/.ipynb_checkpoints
jupyter/.prefect
jupyter/__pycache__
jupyter/mlflow
jupyter/output
jupyter/code
jupyter/.gitignore
jupyter/tripdata
jupyter/models/
jupyter/hmwk1/.ipynb_checkpoints
jupyter/hmwk2/.ipynb_checkpoints
jupyter/hmwk3/.ipynb_checkpoints
jupyter/hmwk4/.ipynb_checkpoints
jupyter/hmwk1/__pycache__
jupyter/hmwk2/__pycache__
jupyter/hmwk3/__pycache__
jupyter/hmwk4/__pycache__